{
  "presets": [["env", { "loose": true, "modules": false }], "react"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "sourceMap": true
      }
    ],
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
