{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "prettier/flowtype"
  ],
  "globals": {
    "__SERVER__": true
  },
  "plugins": ["flowtype", "flowtype-errors", "prettier"],
  "rules": {
    "semi": 0,
    "quotes": 0,
    "comma-dangle": 0,
    "curly": [2, "multi-line"],
    "arrow-parens": 0,
    "class-methods-use-this": 0,
    "symbol-description": 0,
    "no-unused-vars": [2, { "varsIgnorePattern": "^_+$" }],
    "import/no-extraneous-dependencies": 0,
    "no-confusing-arrow": 0,
    "no-else-return": 0,
    "react/sort-comp": 0,
    "react/jsx-filename-extension": 0,
    "flowtype-errors/show-errors": 2,
    "no-prototype-builtins": 0,
    "no-duplicate-imports": 0,
    "flowtype/require-valid-file-annotation": [2, "always", {"annotationStyle": "line"}],
    "flowtype/boolean-style": [2, "boolean"],
    "flowtype/no-dupe-keys": 2,
    "flowtype/union-intersection-spacing": [2, "always"],
    "flowtype/object-type-delimiter": 2,
    "prettier/prettier": 2,
    "no-restricted-syntax": [
      "error",
      "ForOfStatement",
      "LabeledStatement",
      "WithStatement",
    ],
  },
  "env": {
    "jest": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  }
}
