body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header, footer {
  background-color: rgb(219, 112, 147);
  text-align: center;
  font-size: 1.5em;
  padding: .5em;
  color: white;
}

footer {
  background-color: rgb(239, 239, 239);  
  color: black;
  font-size: 1.25em;
}

section {
  display: flex;
  margin: 2em;
  box-shadow: rgba(20, 20, 20, 0.27) 0.0555556rem 0.0555556rem 1.11111rem; 
}

h3 {
  margin-top: 0;
}

section > * {
  padding: 1em;
  flex-grow: 1;
  max-width: calc(50% - 2em);
}

section > *:first-child {
  background-color: rgb(29, 31, 39);
  color: white;
  margin: 0;
}

section > *:nth-child(2) {
  display: flex;
  flex-direction: column;
  color: palevioletred;
}

section > *:nth-child(2) > *:not(h3) {
  flex-grow: 1;
}
