.outer {
  align-self: flex-start;
  padding: 4px;
}

.row {
  flex-direction: row;
}

.color0 {
  background-color: #14171A;
}

.color1 {
  background-color: #AAB8C2;
}

.color2 {
  background-color: #E6ECF0;
}

.color3 {
  background-color: #FFAD1F;
}

.color4 {
  background-color: #F45D22;
}

.color5 {
  background-color: #E0245E;
}

.fixed {
  width: 6px;
  height: 6px;
}
