name: test

on:
  push:
    branches:
      - "main"
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read #  to fetch code (actions/checkout)

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [16, 18]
    steps:
      - uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: 'yarn'

      - run: yarn --pure-lockfile

      - name: Lint
        run: yarn lint
        if: matrix.node == '16'

      - name: Jest
        run: yarn test

      - name: Build
        run: yarn build
        if: matrix.node == '16'
        env:
          BUNDLEWATCH_GITHUB_TOKEN: ${{ secrets.BUNDLEWATCH_GITHUB_TOKEN }}
